@font-face {
    font-family: "catCafe";
    src: url(../font/catcafe.ttf);
}

@font-face {
    font-family: "orientalCat";
    src: url(../font/orientalcat.otf);
}

@font-face {
    font-family: "drawncat";
    src: url(../font/drawncat.ttf);
}

@font-face {
    font-family: "simplecat";
    src: url(../font/simplecat.otf);
}

@font-face {
    font-family: "aroundcat";
    src: url(../font/aroundcat.ttf);
}

body {
    background-color: rgb(5, 95, 68);
    color: rgb(146, 199, 188);


}

h1 {
    font-family: "orientalCat";
    text-align: center;
}

form {
    font-family: "orientalCat";
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 30%;
    padding: 20px 0;
    border: solid black 1px;
    border-radius: 20px;
    background-color: rgb(11, 63, 47);
}

button {
    font-family: "orientalCat";
    font-weight: 600;
    color: rgb(5, 95, 68);
}

.button-position{
    padding: 10px;
}

.label{
    padding: 5px;
}

.input{
    padding-bottom: 10px;
}

h2{
    text-align: center;
    font-family: "orientalCat";
}

p{
    text-align: center;
    font-family: "aroundcat";
}

.label-max{
    padding-bottom: 15px;
    width: 70%;
    text-align: center;
}